/*
a div {
    background-color: #003bb3;
}
*/

.sekkibox {
    border: 1px solid black;
    background-color: #FFFFFF;
    /*
    position: relative;
    top: 0px;
    left: 0px;
    height: 100px;
    */
}