<!--
God morgon, idiot!

Kolla upp här, om du vid mouseover inte kan jQuerisera in en halvkolumn för sekkin och replacea a-href-classen med en halvkolumnare under den tid som sekkin-vyn är synlig.
-->

<a class="col-md-12"id="resurspaymenthref_{$resurspayment_id}" href="javascript:start_rb_payment('{$resurspayment_id}', '{$resurspayment_type}')"  title="{$resurspayment_title}" onmouseover="SEKKI('{$resurspayment_id}')">
            <img src="{$module_template_dir}resursbank.png"><br>
            <strong>{$resurspayment_title}: {$resurspayment_description}</strong>
</a><br>

<span id="resursreadmore_{$resurspayment_id}" style="display: none;" class="sekkibox col-md-6" onclick="window.open('http://www.resurs.se')">
    PrisExempelLänk + SEKKI
    <!-- http://mock.magento17fire.cte.loc/firecheckout/index.php/resursbank/index/getCost/methodid/magfire112/amount/681.25/ -->
    Bla bla {$resurspayment_id}
</span>
<span id="resurspaymentform_{$resurspayment_id}" style="display:;">
    <!-- Payment method forms are dynamically loaded, or this design will fail -->
</span>
