<!-- col-md-6 -->
<p class="payment_module resursbank_pay_module">
    <script type="text/javascript">
        var rbOldContent = "";
        var getForm = "";
        function start_rb_payment(methodID, methodType) {
            rbOldContent = $('.resursbank_pay_module').html();
            getForm = $('#resurspaymentform_' + methodID).html();
            //getHref = $('#resurspaymenthref_' + methodID);
            var replaceContent = "";
            replaceContent = getForm;
            postData = { paymentMethod : methodID, type: methodType };
            resfetch("paymentform", postData, "paymentform");

            replaceContent += '<div id="formstyle_'+methodID+'" style="font-weight: bold;" onclick="$(\'.resursbank_pay_module\').html(rbOldContent)">{l s='Undo selection' mod='resursbankpayment'}</div>';

            $('.resursbank_pay_module').html(replaceContent);

            /*$('#resurspaymenthref_' + methodID).html(replaceContent);
            $('#resurspaymenthref_' + methodID).on("click", function() {
                if (rbOldContent != "") {
                    $('.resursbank_pay_module').html(rbOldContent);
                }
            });*/

        }

        function SEKKI(resursPaymentId) {
            //$('#resurspaymenthref_' + resursPaymentId).append($('#resursreadmore_' + resursPaymentId));
            $('#resursreadmore_' + resursPaymentId).show();
        }

    </script>

    {$availablePaymentMethods}

</p>